/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
    display: block;
}
.bandeau{
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 59px;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100vw;
    margin-left: calc(-50vw + 50%); /* Centre le bandeau par rapport à la page */
}
/******* Style de la modale (masquée par défaut) ******/
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

.popup-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  max-width: 500px;
  max-height: 600px;
  border-radius: 8px;
  position: relative;
  text-align: center;
  padding: auto 20% auto 20%;
}

.galleryPopup{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 15px;
    justify-content: center;
    margin: 30px 50px 30px 50px;
}

.miniature{
    position: relative;
    display: inline-block; /* Pour que le conteneur s'adapte à la taille de l'image */
}

.gallery img {
    width: 100%;

}
.galleryPopup img {   
    height: 100px;
    object-fit: cover; /* Conserve les proportions de l'image */
}
.fa-trash-alt{
    width: 17px;
    height: 17px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center; 
    position: absolute;
    top: 5px;       /* Position en haut */
    right: 5px;     /* Position à droite */  
}

.trait{
    border-bottom: 1px solid #B3B3B3;
    margin: 10px 60px 30px 60px;
    justify-content: center;
}

/* Bouton de fermeture */
.close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  cursor: pointer;
}

/******* fin modale ******/

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/
body {
    max-width: 1140px;
    margin:auto;
    font-family: 'Work Sans' ;
    font-size: 14px;
    background-color: #FFFEF8;
    line-height: 1;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0
}
section {
    margin: 50px 0
}

h1{
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}

h1 > span {
    font-family: 'Work Sans';
    font-size:10px;
    letter-spacing: 0.1em;
}
h3{
   font-family: 'Work Sans';
    font-size:26px;
    font-weight: 400;
}
/*figcaption p{
    font-family: 'Work Sans';
    font-size:13px;
    letter-spacing: 0.1em;
    font-weight: 400;
}*/
h2{
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}
li a{
    text-decoration: none;
    color: inherit;
}

li :hover {
    color: #B1663C;
}
#introduction {
    display: flex;
    align-items: center;
}
#introduction figure {
    flex: 1
}
#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1
}
#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}
/******* Titre pour modifier les projets (page html_edit) *****/
.modif {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 2em;
}
#modif {
    display: flex;
    flex-direction: row;
    gap: 31px;
    align-items: center;
    justify-content: center;
}
/***********/
#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

/*.popup-content{
    display: flex;
    flex-direction: column;
    gap: 46px;
    justify-content: center;
}*/

#contact {
    width: 50%;
    margin: auto;
}
#login {
    width: 30%;
margin: auto;
}
#contact > * {
    text-align: center;

}
#login > * {
    text-align: center;

}
#contact h2{
    margin-bottom: 20px;
}
#login h2{
    margin-bottom: 20px;
}
#contact form {
    text-align: left;
    margin-top:30px;
    display: flex;
    flex-direction: column;
}
#login form {
    text-align: left;
    margin-top:30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
    margin: 2em 0 1em 0;
}
#login label {
    margin: 2em 0 1em 0;
}
#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin : 2em auto ;
    width: 180px;
    text-align: center;
    border-radius: 60px ;
}
#mdp_forget{
    text-align: center;
    text-decoration: underline;
}
/*
.boutons{
    display: flex;
    margin: 51px 0 51px 0;
    gap: 10px;
}
button{
    height: 37px;
    font-family: 'Syne';
    font-weight: 700;
    color: #1D6154;
    background-color: transparent;
    width: fit-content;
    min-width: 100px;
    margin : 2em auto ;
    padding: 10px;
    text-align: center;
    border-radius: 60px ;
    border: solid 1px#1D6154;
}
button:hover{
    color: white;
    background-color: #1D6154;
}
    */
.boutons {
    display: flex;
    justify-content: center; /* Centre les boutons horizontalement */
    margin: 51px 0; /* Réduit la marge verticale */
    gap: 10px; /* Supprime l'espace entre les boutons */
}

button {
    height: 37px;
    font-family: 'Syne';
    font-weight: 700;
    color: #1D6154;
    background-color: transparent;
    padding: 10px 20px; /* Ajuste le padding pour un rendu plus compact */
    text-align: center;
    border-radius: 60px;
    border: solid 1px #1D6154;
    margin: 0; /* Supprime les marges autour des boutons */
    flex-shrink: 0; /* Empêche les boutons de rétrécir */
}

button:hover {
    color: white;
    background-color: #1D6154;
}
.active {
    color: white;
    background-color: #1D6154;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em
}
